<div>Cargo</div>
<input type="range" value={{cargo.value}} id={{cargo.id}} min={{cargo.min}} max={{cargo.max}} step="1">
<hr>
<table>
    <tr>
        <td>Cargo</td>
        <td>{{cargo.value}}</td>
    </tr>
</table>