<div style="display: flex; flex-direction: row; justify-content: space-around; align-items: start;">
    <div style="width: 350px;">
        <h1>Ship Levels</h1>
        {{#each levels}}
        <div><strong>{{label}}</strong> ({{min}} to {{max}})</div>
        <input type="range" value={{value}} id=boatyFace{{type}}Slider min={{min}} max={{max}} step="1">
        {{/each}}
    </div>

    <div style="width: 350px;">
        <h1>Effects</h1>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <input id="{{sendToChatId}}" style="margin-right: 5px;" type="button" value="Send to Chat">
            <input id="{{sendToGmId}}" type="button" value="Send to GM">
        </div>
        <table id={{mainAttributeTableId}}></table>
        <table id={{outputTableId}}></table>
    </div>
</div>